{
  "plugins": [
    "@semantic-release/commit-analyzer",
    {
      "preset": "conventionalcommits",
      "releaseRules": [{ "type": "*", "release": "patch" }],
      "parserOpts": {
        "headerPattern": "^(.+)$",
        "headerCorrespondence": ["type"]
      }
    },
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}
